/* ==========================================
   Orizon OS
   Desktop
   ========================================== */

:root {

    --desktop-padding: 20px;

}

html,
body {

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: "Segoe UI", sans-serif;

    background: #05080F;

}

body {

    position: relative;

}

/* ==========================
   Desktop
========================== */

#desktop {

    display: none;

    opacity: 0;

    width: 100vw;

    height: 100vh;

}

/* ==========================
   Wallpaper
========================== */

#wallpaper {

    position: absolute;

    inset: 0;

    background-image: url("../assets/wallpapers/default.png");

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    z-index: 0;

}

/* ==========================
   Desktop Icons
========================== */

#desktop-icons {

    position: absolute;

    inset: 0;

    padding: var(--desktop-padding);

    z-index: 10;

}

/* ==========================
   Windows
========================== */

#windows {

    position: absolute;

    inset: 0;

    z-index: 100;

    pointer-events: none;

}

/* هر پنجره بعداً این کلاس را می‌گیرد */

.window {

    pointer-events: auto;

}

/* ==========================
   Selection Box
========================== */

.selection-box {

    position: absolute;

    border: 1px solid rgba(77, 166, 255, .8);

    background: rgba(77, 166, 255, .15);

    backdrop-filter: blur(4px);

    display: none;

}

/* ==========================
   Disable Image Selection
========================== */

img {

    user-select: none;

    -webkit-user-drag: none;

}